.d-flex {
    display: flex;
}

.direction-row {
    flex-direction: row;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}

.direction-column {
    flex-direction: column;
}

.direction-column-reverse {
    flex-direction: column-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-flow {
    flex-flow: row-reverse wrap-reverse;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-baseline {
    align-items: baseline;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.flex-grow {
    flex-grow: 4;
}

.flex-shrink {
    flex-shrink: 25;
}

.flex-basis {
    flex-basis: 1000px;
}

.align-self-flex-end {
    align-self: flex-end;
 }

.w-500 {
    width: 500px !important;
}

.container {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 1rem;
}

.container h2 {
    text-align: center;
}

.h-150 {
    height: 350px;
    background-color: #e7e;
}

.box-1 {
    background-color: #e34;
    width: 75px;
    height: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-2 {
    background-color: #e74;
    width: 75px;
    height: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-3 {
    background-color: #e16;
    width: 75px;
    height: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-4 {
    background-color: #a92;
    width: 75px;
    height: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-1-without-height-fixed {
    background-color: #e34;
    width: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-2-without-height-fixed {
    background-color: #e74;
    width: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-1-with-height-fixed {
    background-color: #e34;
    width: 75px;
    height: 150px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-2-with-height-fixed {
    background-color: #e74;
    width: 75px;
    height: 250px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.box-3-without-width-fixed {
    background-color: #e16;
    height: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
